.DescriptionBox{
    margin: 120px 170px;

}
.DescriptionBox-navigator{
display: flex;
}
.DescriptionBox-navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #eaeaea;
}
.DescriptionBox-navbox .fade{
    background: #f8f8f8;
    color: #555;
}
.DescriptionBox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid  #eaeaea;
    padding: 48px;
    padding-bottom: 70px;
}